@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.eot');
  src: url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.eot?#iefix') format('embedded-opentype'),
  local('Titillium Web'),
  local('Titillium-Web-regular'),
  url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.woff2') format('woff2'),
  url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.woff') format('woff'),
  url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.ttf') format('truetype'),
  url('../../fonts/Titillium-Web-regular/Titillium-Web-regular.svg#TitilliumWeb') format('svg');
}

