@import "normalize";
@import "fonts";


$light-blue: #59ACE5;
$dark-blue: #1C3463;
$highlight: #ff469f;
$white: #ffffff;
$black: #000000;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: $light-blue;
  color: $black;
  border: 0;
  margin: 0;
}

header {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

article {
  width: 90%;
  margin: 0 auto;
}

footer {
  text-align: center;
}

img {
  width: 100%;
  max-width: 100%;
}


footer {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $dark-blue;

}

span {
  margin: 0 5px;
}



#main-github-icon {
  width: 32px;
  height: 32px;
  outline: none;
}

#main-github-icon path,polygon {
  fill: $white;
}

a:hover > #main-github-icon path,polygon {
  fill: $highlight;
}

#github-icon-link {
  outline: none;

  &:hover {
    outline: none;
  }

  &:hover,&:focus > #main-github-icon path {
    fill: $highlight;
  }
}
#main-container {
  width: 100%;
  margin: 0 auto;
}

#logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
}

#logo-image {
  max-width: 75px;
  border-radius: 5px;
}

#personal-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 80%;
}

#name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  text-transform: lowercase;
  background-color: $dark-blue;
  color: $white;
  padding: 0 10px 5px 10px;
  text-align: right;
  border-radius: 5px 5px 0  5px;
}


#profession {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  background-color: $dark-blue;;
  color: $white;
  padding: 5px 10px 10px 10px;
  border-radius: 0 0 5px 5px;
}

#main-image {
  width: 100%;
  max-height: 400px;
}

#main-image-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#featured-work-label-container {
  display: flex;
  width: 100%;
  font-size: 24px;
}

#featured-work-label {
  background-color: $dark-blue;;
  color: $white;
  padding: 0 0.5em 0 0.5em;
  text-transform: lowercase;
  border-radius: 5px;
  font-size: 24px;
}

#featured-work-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;

}

#copyright {
  padding: 20px;
  background-color: $dark-blue;
  color: $white;
  margin: 0 auto;
  height: 6rem;
}

.featured-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}

.featured-work-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.featured-work-image {
  border-radius: 5px;
  border: 2px solid $dark-blue;
}

.featured-work-information {
  bottom: 0;
  width: 100%;
  color: $white;
  background-color: $dark-blue;
  padding: 0 0 0 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  border-radius: 0 0 5px 5px;
}

.featured-work-title-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px 5px;
}

.featured-work-description-container {
  height: 100%;
  background-color: $white;
  color: $black;
  border-radius: 0 0 5px 5px;

}

.featured-work-description {
  margin: 10px;
}

.arrow {
  margin: 5px 0 0 0;
  border: 0;
  width: 24px;
  height: 24px
}

.arrow:hover{
  cursor: pointer;
}

.arrow path {
  fill: #ffffff;
}

.options-icon {
  border: 0;
  width: 24px;
  height: 24px
}

.options-icon:hover {
  cursor: pointer;
}

.options-icon:hover g {
  fill: $highlight;
}

.options-icon g {
  fill: $white;
}

.options-button {
  background-color: $dark-blue;
  border: 0;
  outline: 0;

  &:focus .options-icon g{
    fill: $highlight;
  }
}

.full-height {
  border-radius: 5px;
  height: 100%;
}

.hidden-away {
  display: none;
}

.invert {
  margin-top: 0px;
}

.icon {
  width: 16px;
  height: 16px;
  fill: $white;
}

.icon path,polygon {
  fill: $black;
}

a {
  text-decoration: none;
  outline: none;

  &:hover,&:focus {
    outline: none;
    color: $highlight;
  }
}

a:hover,a:focus > path {
  fill: $highlight;
}

a:hover {
  color: $highlight;
}

.online-demo-link {
  margin: 0 10px;
}



@media screen and (min-width: 650px) {
  #featured-work-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .featured-work {
    width: 48%;
    margin: 0 1% 20px 1%;
  }

  #name {
    font-size: 40px;
  }

  #logo-container {
    width: 30%;
  }

  #logo-image {
    max-width: 110px;
  }

  #personal-info-container {
    width: 70%;
    justify-content: center;
  }

  #profession {
    font-size: 18px;
  }

  #featured-work-label {
    font-size: 28px;
  }
}

@media screen and (min-width: 900px) {
  #featured-work-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .featured-work {
    margin: 0 0 20px 0;
    width: 30%;
  }
}