* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Titillium Web, sans-serif;
    background-color: #59Ace5;
    color: black;
    border: 0;
    margin: 0;
}

header {
    display: flex;
    width: 90%;
    margin: 10px auto;
    /*background-color: #1c3463;*/
}

article {
    width: 90%;
    margin: 0 auto;
}

footer {
    text-align: center;
}

img {
    width: 100%;
    max-width: 100%;
}



#main-container {
    width: 100%;
    margin: 0 auto;
}

#logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
}

#logo-image {
    max-width: 110px;
    border-radius: 5px;
}

#personal-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
}

#name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    text-transform: lowercase;
    background-color: #1c3463;
    color: white;
    padding: 0 10px 5px 10px;
    text-align: right;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#profession {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    background-color: #1c3463;;
    color: white;
    padding: 5px 10px 10px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
}

#main-image {
    width: 100%;
    max-height: 400px;
}

#main-image-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#featured-work-label-container {
    display: flex;
    width: 100%;
    font-size: 24px;
}

#featured-work-label {
    background-color: #1c3463;;
    color: white;
    padding: 0 0.5em 0 0.5em;
    text-transform: lowercase;
    border-radius: 5px;
}

#featured-work-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

}

#copyright {
    padding: 5px 10px 5px 10px;
    background-color: #1c3463;;
    color: white;
    margin: 0 auto;
}

.featured-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
}

.featured-work-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.featured-work-image {
    border-radius: 5px;
}

.featured-work-information {
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #1c3463;
    padding: 0 0 0 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.featured-work-title-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.featured-work-description-container {
    height: 100%;
    background-color: white;
    color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.featured-work-description {
    margin: 10px;
}

.arrow {
    margin: 5px 0 0 0;
    border: 0;
    width: 24px;
    height: 24px
}

.arrow:hover {
    color: #1ce;
}

.full-height {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
}

.hidden-away {
    display: none;
}

.invert {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
