.featured {
    width: 100%;
    margin: 1em auto;
}

#name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
}

#profession {
    font-size: 14px;
}

#featured-work {
    flex-direction: column;
}

#logo {
    width: 20%;
}

#logo-img {
    margin-left: 5px;
}

#personal-info {
    width: 80%;
}


h2 {
    font-size: 1.5em;
    margin: 1em auto;
}
