
#logo-container {
    width: 20%;
    align-items: flex-start;
}

#logo-image {
    max-width: 75px;
}

#personal-info-container {
    width: 80%;
    justify-content: flex-start;
}

#name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

#profession {
    font-size: 14px;
}
#featured-work-label {
    font-size: 24px;
}

#featured-work-container {
    flex-direction: column;
}

.featured-work {
    width: 100%;
}
